In [3]:
import pandas as pd

goog_df = pd.DataFrame({"AAPL": [1045.85, 1070.08, 1140.99, 1113.65, 1193.32, 1231.54, 1215.00, 1207.15,1248.84, 1166.27, 1138.85, 1003.63, 1080.91]})

goog_df.describe()

              AAPL
count    13.000000
mean   1142.775385
std      76.556568
min    1003.630000
25%    1080.910000
50%    1140.990000
75%    1207.150000
max    1248.840000